beautifulsoup4==4.12.3
cloudscraper==1.2.71
discord.py==2.4.0
python-dotenv==1.0.1
pytz==2024.2
random_user_agent==1.0.1
Requests==2.32.3
selenium==4.25.0
undetected_chromedriver==3.5.5
urllib3==2.2.3
